<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="css/signinstyle.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">

</head>
<body>
<div class="center">
    <h1>Войти в аккаунт</h1>
    <form action="/authenticateTheUser" method="post">
        <div class="txt_field">
            <input type="text"  name="username" required>
            <span></span>
            <label>Логин</label>
        </div>
        <div class="txt_field">
            <input type="password" name="password" required>
            <span></span>
            <label>Пароль</label>
        </div>
        <div class="alert" th:if="${errorMessage}" th:text="${errorMessage}"></div>
        <div class="alert_s" th:if="${successRegistration}" th:text="${successRegistration}"></div>
        <input type="submit" value="Войти">
        <div class="signup_link">
            Еще не зарегистрировались? <a th:href="@{/signup}">Создать аккаунт</a>
        </div>

    </form>
    <p class="homepage"><a th:href="@{/mainpage}"><img src="img\house.svg" width="70px"/></a></p>
</div>

</body>
</html>
